In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statsmodels as sm

In [34]:
eg1 = pd.read_csv('eg1.csv')

In [35]:
interest = pd.read_csv('interest.csv')

In [36]:
df = pd.merge(eg1, interest, on = 'id')

In [10]:
?pd.merge

In [37]:
df['bmi'] = df['weight']/(df['height']/100)**2

In [38]:
df['bmi2'] = df.weight/(df.height/100)**2

In [44]:
df.head()

   id  height  weight interest        bmi       bmi2
3   4     151      51     sing  22.367440  22.367440
4   5     165      54    dance  19.834711  19.834711
5   6     175      69     sing  22.530612  22.530612
7   8     186      66    dance  19.077350  19.077350
8   9     187      68    sport  19.445795  19.445795

In [32]:
df = df[(df.bmi >= 18.5)&(df.bmi < 24)]

In [43]:
df = df[(df['bmi']>18.5)&(df.bmi < 24)]

In [58]:
df.reset_index(drop = True, inplace = True)

In [59]:
df

    id  height  weight interest        bmi       bmi2
0    4     151      51     sing  22.367440  22.367440
1    5     165      54    dance  19.834711  19.834711
2    6     175      69     sing  22.530612  22.530612
3    8     186      66    dance  19.077350  19.077350
4    9     187      68    sport  19.445795  19.445795
5   10     173      65    sport  21.718066  21.718066
6   11     180      63    sport  19.444444  19.444444
7   13     172      66    dance  22.309356  22.309356
8   14     165      58    dance  21.303949  21.303949
9   15     179      69     sing  21.534908  21.534908
10  16     153      54     sing  23.068051  23.068051
11  17     155      52    sport  21.644121  21.644121

In [72]:
X = df['height']

In [75]:
X = sm.tools.add_constant(X)

In [76]:
model = sm.regression.linear_model.OLS(df.weight, X)

In [77]:
result = model.fit()

In [78]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.774
Method:                 Least Squares   F-statistic:                     38.69
Date:                Thu, 09 Jul 2020   Prob (F-statistic):           9.88e-05
Time:                        15:44:59   Log-Likelihood:                -30.306
No. Observations:                  12   AIC:                             64.61
Df Residuals:                      10   BIC:                             65.58
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -24.0225     13.743     -1.748      0.111     -54.643       6.598
height         0.5014      0.081      6.220      0.000       0.322       0.681
==============================================================================
Omnibus:                        1.145   Durbin-Watson:                   3.055
Prob(Omnibus):                  0.564   Jarque-Bera (JB):                0.751
Skew:                           0.210   Prob(JB):                        0.687
Kurtosis:                       1.849   Cond. No.                     2.45e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.45e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

d:\miniconda\lib\site-packages\scipy\stats\stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=12
  KurtosistestResult = namedtuple('KurtosistestResult', ('statistic', 'pvalue'))